src/main/mule/os-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:st="http://www.mulesoft.org/schema/mule/st" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/st http://www.mulesoft.org/schema/mule/st/current/mule-st.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	<flow name="getOSValues" doc:id="2297a8d4-4060-4b28-be57-dcfea5051f2e" doc:description="This is not used directly as a URL endpoint">
		<http:listener doc:name="api/getOSValues" doc:id="63099a90-499c-4375-aa5d-9fefd105b658" config-ref="HTTP_Listener_config" path="/api/getOSValues" />
		<ee:transform doc:name="set-vars" doc:id="f273767f-7032-45c0-9ffc-7fb9f11c049c">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="startDateTime"><![CDATA[%dw 2.0
output application/java
---
if (isEmpty(attributes.queryParams.startDateTime default vars.startDateTime)) "1999-12-29T10:00Z" else attributes.queryParams.startDateTime default vars.startDateTime]]></ee:set-variable>
				<ee:set-variable variableName="endDateTime"><![CDATA[%dw 2.0
output application/java
---
if (isEmpty(attributes.queryParams.endDateTime default vars.endDateTime)) "2999-12-29T10:00Z" else attributes.queryParams.endDateTime default vars.endDateTime]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="DEBUG" doc:name="Criteria" doc:id="59113a84-c992-43b4-8550-4fcb6793c7eb" message="Start: #[vars.startDateTime]   End:  #[vars.endDateTime]" />
		<os:retrieve-all doc:name="Keys" doc:id="1f3703c6-7c74-4128-97f5-7a8e0c501330" objectStore="Object_store_DeckCommerce" />
		<ee:transform doc:name="filter-object -store-keys" doc:id="777714c7-828c-465e-be7a-c534b176fe38">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="outputPayload" ><![CDATA[%dw 2.0
output application/json
---
payload filterObject ($.creationTimeStamp > vars.startDateTime
    and $.creationTimeStamp < vars.endDateTime) mapObject(val,key,idx)-> {
	(key) :val
	
} ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-payload value='#[vars.outputPayload]' doc:name="vars.output" doc:id="67defbab-adc0-4971-bb90-44a76b7f0b24" />
	</flow>
	<flow name="setOSValue" doc:id="3c4763dc-f89c-4292-954a-8a5d1a14cb3e" doc:description="This is not used as a URL endpoint">
		<http:listener doc:name="/api/setOSValue" doc:id="bd62ba3f-4459-4247-baa3-965e6c1b57c8" config-ref="HTTP_Listener_config" path="/api/setOSValue" />
		<os:store doc:name="Store" doc:id="b51ee659-45da-4538-8e96-b41f8401a596" key='#[attributes.queryParams.key default "none"]' objectStore="Object_store_DeckCommerce" />
		<ee:transform doc:name="Transform Message" doc:id="4c4e4cc3-c898-414f-a2b9-80b3f17f6ba5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message":"success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="genOSValues" doc:id="003066b5-be2a-4950-a511-46f818691152" doc:description="This is not used as a URL endpoint">
		<http:listener doc:name="api/genOSValues" doc:id="4e2088f1-683d-47fb-9838-b84ef266474e" config-ref="HTTP_Listener_config" path="/api/genOSValues" />
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="d073f628-8757-4dbc-b1e2-e8b727b1e0fa">
			<scripting:code><![CDATA[List<Integer> list = new ArrayList<Integer>();

for (i = 0; i <= max; i++) {
   list.add(i)
}

return list;
]]></scripting:code>
			<scripting:parameters><![CDATA[#[{ max: attributes.queryParams.size as Number}]]]></scripting:parameters>
		</scripting:execute>
		<foreach doc:name="For Each" doc:id="0a8e0ccc-52ca-4e3f-aa13-14729997e15b">
			<os:store doc:name="Store" doc:id="4e61d3c8-be89-4a7c-9607-30793a339253" key="#[uuid()]" objectStore="Object_store_DeckCommerce">
				<os:value><![CDATA[#[{
  "creationTimeStamp": now() as String,
  "omsRequest": {
    "path": "api/OmsInvoiceUpdate",
    "payload": {
        "OrderNumber": "grb123458396835-1",
        "StatusCode": "DELSAP",
        "PONumber": "1000517410",
        "SiteCode": "Gracobaby",
        "TimestampUTC": "2020-07-21T13:26:31.42Z",
        "GtinsToUpdate": [
          {
            "ID": 104203,
            "Quantity": "1.000"
          },
          {
            "ID": 104204,
            "Quantity": "1.000"
          }
        ]
      },
    "retryCount": 5,
    "correlationId": uuid(),
    "splunkInterface": "invoice-erp-to-oms"
  }
}]]]></os:value>
			</os:store>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="35fbc789-1d86-40df-9990-e932ad21f04b" message="LIst Size #[sizeOf(payload)]" />
		<ee:transform doc:name="Transform Message" doc:id="d070c123-3d28-45a7-b563-2f8613f40952">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="clearOSValue" doc:id="45b0d69f-d627-4ad3-a508-2559a14f139b">
		<http:listener doc:name="/api/clearOSValue" doc:id="a829cca6-621f-4ce1-baed-9e7820554b2a" config-ref="HTTP_Listener_config" path="/api/clearOSValues" />
		<os:clear doc:name="Clear" doc:id="b3121657-320d-4729-9cbb-9a5cf7a9ae64" objectStore="Object_store_DeckCommerce" />
		<ee:transform doc:name="Transform Message" doc:id="31eb0247-e795-46c3-8d37-904ff283a925">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
